@import "tailwindcss";

:root {
  --color-fg: #eceef3;
  --color-fg-danger: #fac1c1;
  --color-fg-success: #9add9b;
  --color-bg-strong: #181717;
  --color-bg-medium: #252526;
  --color-bg-weak: #2d2d2e;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter.ttf');
}

body {
  color: var(--color-fg);
  font-family: Inter;
}
