@import "tailwindcss";

:root {
  --color-text: #eceef3;
}

@font-face {
  font-family: Inter;
  src: url('./fonts/Inter.ttf');
}

body {
  font-family: Inter;
  color: var(--color-text);
}

input::placeholder {
  color: var(--color-text);
}
